
<% if @user == current_user %>
    <a href = '/users/<%= current_user.slug %>/edit'>edit my page</a>
<% end %>

<div class = "layout" >

<h1><%= @user.username %></h1> 

<h3><%= @user.encounters.count %> cases</h3>
<a href = "/encounters/new">Report an Encounter</a>
</div>


<% @user.encounters.each do |encounter| %>
<h2><a href = "/encounters/<%= encounter.id %>"><%= encounter.name %></a></h2>
<p><%= encounter.description %></p>

<% end %>
