<!DOCTYPE html>
<html>
  <head>
    <style>
   
    </style>
  </head>
  <body class = "encounters_index_body">

    <div>
      <image class = "top_image" src = '/images/the_night_sky_1.jpg'>

    </div>

  <div class = "map_container">
    <h3>UFO Vision</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
var arr = <%= @encounters_lat_long.to_json %>

var usa = {lat: 37.09024, lng: -95.712891}
// The map, centered at usa
var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 4, center: usa});

for(let x = 0; x < arr.length; x++){
  console.log(arr[x]);
  var point = arr[x];
  var marker = new google.maps.Marker({position: point, map: map});
}

       
  var uluru = {lat: <%= Encounter.find_by(:name => "1947 UFO sightings").latitude.to_json %>, lng: <%= Encounter.find_by(:name => "1947 UFO sightings").longitude.to_json %>};
 
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}



    </script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBymQk6keNx_H7Pk1awWHv6M4UUt_9waGY&callback=initMap">
    </script>
    </div>
  </body>
</html>



<% @encounters.each do |e| %>
    <div class = "layout">
        <a href = "/encounters/<%= e.id %>"><h1><%= e.name %></h1></a>
        <h3>posted by <a href = '/users/<%= e.user.slug %>'><%= e.user.username %></a> </h3>
        <span><%= e.date %></span>
        <span><%= e.location %> </span>
        <p><%= e.description %></p>
    </div>
<% end %>