<!DOCTYPE html>
<html>
  <head>
   

  <style>
  body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url('/images/nasa_galaxy_cluster.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
  </head>
  <body class = "encounters_index_body">






  <div class="parallax" style = "height: 135px;"></div>


<div class = "parallax"><image class = "homepage_image" src = "/images/ufo_banner_official.png"  ></div>
  <div class="parallax" style = "height: 270px;"></div>
    

  <div class = "map_container parallax">
    
    <!--The div element for the map -->
    <div id="map"></div>
    



    <script>
// Initialize and add the map
function initMap() {

  // All encounter lat and long
var arr = <%= @encounters_name_lat_long.to_json %>


// The map, centered at usa
var usa = {lat: 37.09024, lng: -95.712891}

var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 4, center: usa});

for(let x = 0; x < arr.length; x++){
  console.log(arr[x]);
  var title = arr[x].name
  var point = arr[x];
  var marker = new google.maps.Marker({position: point, map: map, title: title});
}

       
}



    </script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBymQk6keNx_H7Pk1awWHv6M4UUt_9waGY&callback=initMap">
    </script>
    </div>
  </body>
</html>

<div class="parallax" style = "height: 99px;"></div>


<div class = "parallax">
<% @encounters.each do |e| %>
    <div class = "layout e_page" >
        <a href = "/encounters/<%= e.id %>"><h1><%= e.name %></h1></a>
        <h3>posted by <a href = '/users/<%= e.user.slug %>'><%= e.user.username %></a> </h3>
        <span><%= e.date %></span>
        <span><%= e.location %> </span>
        <p><%= e.description %></p>
        <div class="parallax" style = "height: 99px;"></div>
    </div>
<% end %>
</div>