<h1 class = "layout"><%= @encounter.name %></h1>
<div class = "time_place">
<h2><%= @encounter.location %></h2>
<h2><%= @encounter.date %></h2>
<h3>Lat: <%= @encounter.latitude %></h3>
<h3>Long: <%= @encounter.longitude %></h3>

</div>

<h3>posted by <a href = '/users/<%= @encounter.user.slug %>'><%= @encounter.user.username %></a> </h3>

<p><%= @encounter.description %></p>
<% if @user == current_user %>

    <h3><a href = '/encounters/<%= @encounter.id %>/edit'>Edit This Post</a></h3>
    <form action = '/encounters/<%= @encounter.id %>' method = "post">
    <input type = "hidden" id = "hidden" name ="_method" value = "DELETE">
    <input type = "submit"  value = "Delete This Post">
    </form>
<% end %>